* {
	margin: 0;
	padding: 0;
}
body {
	/*text-align: center;*/
}
.header {
	position: fixed;
	height: 50px;
	border-bottom: 1px solid #DBDBDB;
	width: 100%;
    top: 0;
    background: white;
    z-index: 1000;
}

.header .logo {
	display: inline-block;
	position: absolute;
	left: 0;
	font-size: 25px;
	font-weight: 300;
	color: #8B8B8B;
	line-height: 46px;
	margin-left: 30px;
}
.header .title-wrapper {
	margin: 0 auto;
	width: 660px;
	line-height: 50px;
}

.header .title-wrapper .title {
	font-weight: bold;
	font-size: 20px;
}

.header .title-wrapper .titleinfo {
	margin-left: 10px;
}

.header .title-wrapper .titlegray {
	color: #DBDBDB;
}

.header .title-wrapper .titlered {
	color: #FF0000;
}

.header .publish-wapper{
	display: inline-block;
	line-height: 42px;
	margin-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.header .publish-wapper .publish-btn {
	border-radius: 6px;
	line-height: 32px;
	padding: 0 15px;
	background: white;
	margin-top: 7px;
	margin-right: 55px;
}

.header .publish-wapper .publish-no {
	border: 1px solid #eee;
	color: #eee;
	
}

.header .publish-wapper .publish-yes {
	border: 1px solid blue;
	color: blue;
}

.header .box{
	position: absolute;
	background: white;
	top:50px;
	right: 8px;
	width: 225px;
	height: 155px;
	border: 1px solid #EEEEEE;
	display: none;
	padding: 10px 0 10px 10px;
	-moz-box-shadow: -2px 2px 4px #888888;
	box-shadow: -2px 2px 20px #888888;
}
.arrow-group{
	position: absolute;
    top: -16px;
    left: 150px;
}
.header .box .pannel-arrow{
	display: block;
    width: 0;
    height: 0;
}
.header .box .pannel-arrow:after{
	position: absolute;
    left: 0;
    top: 0;
    content: "";
    border: 8px solid transparent;
    /*margin-top: 1px;*/
    border-bottom-color: #eee;
}
.header .box .pannel-arrow1{
	display: block;
    width: 0;
    height: 0;
}
.header .box .pannel-arrow1:after{
	position: absolute;
    left: 0;
    top: 0;
    content: "";
    border: 8px solid transparent;
    margin-top: 2px;
    border-bottom-color: #fff;
}

.linethrough{
	text-decoration: line-through;
}


.header .box .publish-pannel{
	
}


.header .box .picNews-no {
	
}
.nextbtn-wrapper {
	text-align: center;
}
.nextbtn-wrapper .nextbtn {
	display: inline-block;
    background: white;
    border: 1px solid blue;
    color: blue;
    width: 100px;
    height: 32px;
    border-radius: 6px;
}

.header .box .nextbtn-wrapper {
	margin-top: 28px;
}

.edit-wrapper {
	margin: 65px auto 0;
	width: 660px;
	height: 200px;
}

.edit-wrapper .newsType-wrapper {
	font-size: 13px;
	padding: 0 0 9px 0;
}

.edit-wrapper .writeCover-wrapper {
	background: #F7F8F9;
	color: gray;
	min-height: 192px;
	text-align: center;
}

.edit-wrapper .writeCover-wrapper .noticeInfo {
	position: absolute;
	color: red;
	font-size: 13px;
}

.edit-wrapper .writeCover-wrapper .writeCover-previewWrapper{
	height: 100%;
	position: relative;
	/*display: none;*/
}
.edit-wrapper .writeCover-wrapper .addtext{
	position: absolute;
    top: 106px;
    left: 295px;
    line-height: 30px;
	display: none;
}
.edit-wrapper .writeCover-wrapper  .progress-wrapper{
	position: absolute;
    top: 106px;
    left: 330px;
    line-height: 30px;
	display: none;
}
.edit-wrapper .writeCover-wrapper  .progress-wrapper #progressbar{
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-90px;
    margin-top:-10px;
    width:180px;
    height:5px;
    border:1px solid #aaa;
    border-radius: 5px;

}
.edit-wrapper .writeCover-wrapper  .progress-wrapper #fill{
    text-align: center;
    height:5px;
    width: 0;
    background-color: #ccc;
    border-radius: 5px;
}
.edit-wrapper .writeCover-wrapper .writeCover-previewWrapper:hover .addtext{
	display:block;
}

.writeCover-previewWrapper .writeCover-uploadIcon {
	font-size: 26px;
	line-height: 192px;
	color: rgba(0, 0, 0, .2 );
}

.writeCover-uploadInput {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}

.edit-wrapper .writeCover-wrapper .img-wrapper{
	position: relative;
	display: none;
	min-height: 192px;
}
.edit-wrapper .writeCover-wrapper .img-wrapper .reset-delete-wrapper{
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
	border-radius: 5px 0 0 0;
    width: 100px;
    height: 40px;
}
.edit-wrapper .writeCover-wrapper .img-wrapper .reset-delete-wrapper .rede{
	position: relative;
	display: inline-block;
	width: 42px;
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.edit-wrapper .writeCover-wrapper .img-wrapper .reset-delete-wrapper .reset .reset-uploadInput {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
}

.edit-wrapper .writeTitle-wrapper {
	margin: 16px 0;
	border: 0;
	padding: 0;
	height: auto;
	widows: 100%;
	position: relative;
}

#textarea { 
    display: block;
    margin:0 auto;
    overflow: hidden;
    
}
textarea {
    outline: 0 none;
}

.writeTitle-wrapper .Input {
	height: 44px;
	min-height: 44px;
	display: block;
	width: 100%;
	border: 0;
	font-size: 32px;
	line-height: 1.4;
	font-weight: 600;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.writeContent-wrapper {
}
