* {
	margin: 0;
	padding: 0;
}
body {
	/*text-align: center;*/
}
.header {
	position: relative;
	margin-top: 5px;
	height: 50px;
	border-bottom: 1px solid #DBDBDB;
	/*text-align: center;*/
}

.header .logo {
	display: inline-block;
	position: absolute;
	left: 0;
	font-size: 25px;
	font-weight: 300;
	color: #8B8B8B;
	line-height: 46px;
	margin-left: 30px;
}
.header .title-wrapper {
	margin: 0 auto;
	width: 660px;
	line-height: 50px;
}

.header .title-wrapper .title {
	font-weight: bold;
	font-size: 20px;
}

.header .title-wrapper .titleinfo {
	margin-left: 10px;
}

.header .title-wrapper .titlegray {
	color: #DBDBDB;
}

.header .title-wrapper .titlered {
	color: #FF0000;
}

.header .publish-wapper{
	display: inline-block;
	line-height: 50px;
	margin-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.header .publish-wapper .my-btn {
	border: 1px solid #eee;
	border-radius: 6px;
	line-height: 32px;
	padding: 0 15px;
	color: #ccc;
	margin-top: 7px;
	margin-right: 55px;
}
.header .box{
	position: absolute;
	top:50px;
	right: 0;
	width: 200px;
	height: 100px;
	border: 1px solid red;
	display: none;
}

.edit-wrapper {
	margin: 47px auto 0;
	width: 660px;
	height: 200px;
}

.edit-wrapper .writeCover-wrapper {
	background: #F7F8F9;
	line-height: 192px;
	color: gray;
	height: 192px;
	min-height: 192px;
	text-align: center;
}

.edit-wrapper .writeCover-wrapper .writeCover-previewWrapper{
	height: 100%;
	position: relative;
}
.edit-wrapper .writeCover-wrapper .addtext{
	position: absolute;
    top: 106px;
    left: 295px;
    line-height: 30px;
	display: none;
}
.edit-wrapper .writeCover-wrapper .writeCover-previewWrapper:hover .addtext{
	display:block;
}

.writeCover-previewWrapper .writeCover-uploadIcon {
	font-size: 42px;
	color: rgba(0, 0, 0, .2 );
}

.writeCover-uploadInput {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
}

.edit-wrapper .writeTitle-wrapper {
	margin: 16px 0;
	border: 0;
	padding: 0;
	height: auto;
	widows: 100%;
	position: relative;
	background: red;
}

#textarea { 
    display: block;
    margin:0 auto;
    overflow: hidden;
    
}
textarea {
    outline: 0 none;
}

.writeTitle-wrapper .Input {
	height: 44px;
	min-height: 44px;
	display: block;
	width: 100%;
	border: 0;
	font-size: 32px;
	line-height: 1.4;
	font-weight: 600;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.writeContent-wrapper {
}
