<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 自动扫描的包 -->
    <context:component-scan base-package="com.shunan.committeewb.controller"/>
    <!-- 注解驱动 -->
    <mvc:annotation-driven>
    	<mvc:message-converters>  
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>  
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
	            <property name="supportedMediaTypes">  
	                <list>  
	                    <value>text/plain;charset=utf-8</value>  
	                    <value>text/html;charset=UTF-8</value>  
	                </list>  
	            </property>  
	        </bean>  
    	</mvc:message-converters>  
    </mvc:annotation-driven>
    <!-- 处理静态资源 -->
    <mvc:default-servlet-handler/>
    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/admin/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>
	
	<!-- String转Date转换器-->
    <bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.shunan.committeewb.controller.converter.CustomDateConverter"/>
			</list>
		</property>
	</bean>
	
	<!-- 开启aop支持,对类代理 -->
	<aop:config proxy-target-class="true"></aop:config>
	<!-- 开启shiro注解支持 -->
<!-- 	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"/>
	</bean> -->
	
	<!-- 将404.jsp、500.jsp等设置为资源文件，避免被springmvc再次拦截 -->
<!-- 	<mvc:resources mapping="/error/**" location="/admin/error/" />
	配置SimpleMappingExceptionResolver
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <property name="exceptionMappings">
        <map>
            <entry key="ResourceNotFoundException" value="error/resourceNotFoundError" />
            <entry key=".DataAccessException" value="error/dataAccessError" />
        </map>
    </property>
    <property name="statusCodes">
        <map>
            <entry key="error/resourceNotFoundError" value="404" />
            <entry key="error/dataAccessError" value="500" />
        </map>
    </property>
	</bean>  -->
	
	<mvc:interceptors>
		<!-- 登录拦截器配置 -->
		<mvc:interceptor>
			<!-- 先匹配所有路径，然后排除不需要检查的路径 -->
            <mvc:mapping path="/**"/>
            <!-- 与登录相关的请求 -->
            <mvc:exclude-mapping path="/code"/>
            <mvc:exclude-mapping path="/admin/login.jsp"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/logout"/>
            <!-- 放行静态资源 -->
            <mvc:exclude-mapping path="/admin/components/**" />
            <mvc:exclude-mapping path="/admin/error/**" />
            <mvc:exclude-mapping path="/admin/jsp/**" />
            <mvc:exclude-mapping path="/admin/media/**" />
            <mvc:exclude-mapping path="/front/**" />
            <mvc:exclude-mapping path="/upload/**" />
            <mvc:exclude-mapping path="/ueditor/**" />
            <!-- 放行前端获取数据的接口 -->
            <mvc:exclude-mapping path="/weather" />
            <mvc:exclude-mapping path="/index" />
            <mvc:exclude-mapping path="/news/newsList" />
            <mvc:exclude-mapping path="/news/{newsTypeID}/{id}/query" />
            <mvc:exclude-mapping path="/news/watermark" />
            <mvc:exclude-mapping path="/home/{id}/query" />
            <!-- 配置拦截器 -->
            <bean class="com.shunan.committeewb.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>