.concent{
    padding: 0;
    background: white;
}
.actirl{
    width: 93%; /*2017-12-25*/
    margin: 0 auto;
    /*height: 900px;*/ /*2017-12-25*/
}
.title{
    width: 660px; /*2017-12-25*/
    color: #CC0000;
    line-height: 30px;
    text-align: center;
}
.title h2 {
	font-weight: 600;
}
.title p {
	text-align: center;
}
 .right a:hover{ /*2017-12-26*/
     color: #e38d13 !important;
    text-decoration: underline !important;
}
.left{
    /*float: left;*//*2017-12-25*/
    width:660px;  /*2017-12-25*/
    border-top:2px dotted #A46770;
}
.left p{
    line-height: 30px;
    margin-bottom: 10px;
}
.left,.right{
    padding-top: 30px;
}
.right {
    background-color: #F6F6F6;
    float: right;
    padding: 0;
    width: 30%;
    height: 615px;
    border-top: 2px solid #A46770;
}
.right .r1{
    height:515px;
}
.right .r2{
    height: 100px;
    text-align: center;
    line-height: 50px;
    border-top: 2px dotted #A46770;
}
.right .r2 a{
    text-decoration: none;
    color: black;
}
.right .r1 ul{
    padding-left: 10px;
}
.right .r1 li{
    list-style: none;
    line-height: 30px;
}
.right .r1 li a{
    text-decoration: none;
}
.right .r1 li h3{
    margin-top: 30px;
    color: black;
}
.right .r1 li h3,.right .r1 li p,.right .r1 li span{ /*2017-12-26*/
    width: 80%;
    overflow: hidden !important;
    text-overflow:ellipsis !important;
    white-space: nowrap !important;
}
.right .r1 li h3:hover{ /*2017-12-26*/
    color: #e38d13;
}
.right .r1 li p{
    color: black;
}
.right .r1 li p:hover{ /*2017-12-26*/
    color: #e38d13;
}
.right .r1 li span{
    color: #666;
}
.right .r1 li span:hover{ /*2017-12-26*/
    color: #e38d13;
}
@media screen and (min-width:1021px){
    .left{
        float: left;
    }
    .right{
        display: block;
        float: right;
    }
    .title{
        margin-left: 0;
    }
}
@media screen and (max-width:1020px) {
    .left{
        float: none;
        margin: 0 auto;
    }
    .right{
        display: none;
    }
    .title{
        margin: 0 auto;
    }
}
.fenye{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.fenye a{
    text-decoration: none;
    color: black;
}
.fenye a:hover{
    text-decoration: underline;
}
