/*大banner*/
.banner img{
     width: 100%;
 }
.items,.banner,.itemsCon,.secondRow,.footer,.thirdRow,.listRow {
    width: 100%;
    margin: 0 auto;
}
/*第一行标题*/
.items img{
    width: 70%;
}
.items>.a1{
    position: relative;
}

.items>.a1>a:nth-child(2){
    color: white;
    position: absolute;
    left:5px;
    top:3px;
}
.items>.a1>a:nth-child(3){
    color:#CC0000;
    position: absolute;
    right:8px;
    top:3px;
}

.itemsCon{
    padding: 0px 3px;
    padding-top: 3px;
    background: white;
    box-shadow: 2px 2px 8px #888888;
	height: 220px;
}
.b1{
    height: 210px;
}
.itemsCon img {
    width: 95%;
}
.itemsCon div>a{
    text-decoration: none;
    color: #7f7f7f;
}

/*轮播图*/
.warper{
    width: 95%;
    height: 100%; /*2017-12-25*/
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}
.warper li a:first-child{
    display: block;
    width: 100%;
    height: 191px;
    text-align: center;
}
.warper ul{
    padding: 0;
    overflow: hidden;
    height: 100%;
}
.warper li{
    width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    padding: 0;
}
.sildebar li a { /*2017-12-25*/
    text-decoration: none;
    color: black;
}

.sildebar li a:last-child{
    position: absolute;
    bottom: 0px;
    line-height: 14px;
}

.sildebar li>a:last-child{/*2017-12-26*/
    width: 100%;
    display: block
}
.sildebar li>a:last-child:hover{/*2017-12-26*/
    text-decoration: underline;
    color: #e38d13;
}
.focusBox li{
    list-style: none;
    float: left;
    width: 25px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    color: white;
    cursor: pointer;
}

.focusBox li:not(:last-child){
    border-right:2px solid white;
}
.focusBox{
    padding: 0;
    height: 15px;
    position: absolute;
    right: 5px;
    top:161px;
}

/*重点专注*/
.itemsCon>div:nth-child(2)>ul{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    border:1px solid transparent;
}
.itemsCon>div:nth-child(2)>ul>li{
    width: 100%;
    list-style: none;
    position: relative;
}
.itemsCon>div:nth-child(2)>ul>li:first-child{
    position: absolute;
    top:0;
}
.itemsCon>div:nth-child(2)>ul>li:last-child{
    position: absolute;
    /*bottom: 0;*/
}
.itemsCon>div:nth-child(2)>ul>li:last-child a{
    line-height: 14px;
}
.itemsCon>div:nth-child(2)>ul>li:nth-child(2){
    margin-top:32px;
}

.itemsCon>div:nth-child(2)>ul>li:not(:first-child):not(:last-child){
     height: 32px;
}
.itemsCon>div:nth-child(2)>ul>li>a{
    text-decoration: none;
    color: black;
    display: block; /*2017-12-26*/
    width: 70%; /*2017-12-26*/
}
.itemsCon>div:nth-child(2)>ul>li>a:hover{
    text-decoration: underline;
    color: #e38d13;
}
.itemsCon>div:nth-child(2)>ul>li>span{
    color: #888888;
    font-size: small;
    position: absolute;
    top:0;
    right: 17px;
}




/*公告栏*/
.itemsCon>div:nth-child(3) img{
    width: 100%;
}
.itemsCon>div:nth-child(3)>ul{
    padding: 0;
}
.itemsCon>div:nth-child(3)>ul>li{
    list-style: none;
    position: relative;
    /*line-height: 35px;*/
}
.itemsCon>div:nth-child(3)>ul>li a{
    color: black;
    text-decoration: none;
    display: block; /*2017-12-26*/
    width: 70%; /*2017-12-26*/
}
.itemsCon>div:nth-child(3)>ul>li a:hover{
    text-decoration: underline;
    color: #e38d13;
}
.itemsCon>div:nth-child(3)>ul>li>span{
    color: #888888;
    font-size: small;
    position: absolute;
    top:0;
    right: 17px;
}
.itemsCon>div:nth-child(3){
    position: relative;
}
.itemsCon>div:nth-child(3)>a{
    position: absolute;
    bottom: 0px;
    border:1px solid black;
}


@media screen and (max-width:1370px) {
    .itemsCon>div:nth-child(3)>ul>li{
             line-height: 35px;
    }
    .img{
        height: 215px;
    }
    .secondRow .list{
        height: 265px;
    }

}
@media screen and (min-width:1371px){
    .itemsCon>div:nth-child(3)>ul>li{
             line-height: 30px;
    }
    .img{
        height: 250px;
    }
    .secondRow .list{
        height: 300px;
    }

}
@media screen and (min-width:1610px) and (max-width: 2000px){
    .itemsCon>div:nth-child(3)>ul>li{
        line-height: 30px;
    }
    .img{
        height: 300px;
    }
    .secondRow .list{
        height: 350px;
    }

}

/*第二行内容*/
.secondRow{
    margin-top: 8px;
}
.secondRow img{
    width: 95%;
}
.secondRow>.a1{
    position: relative;
}
.secondRow>.a1>a:nth-child(2){
    color: white;
    position: absolute;
    left:5px;
    top:3px;
}
.secondRow>.a1>a:nth-child(3){
    color:#CC0000;
    position: absolute;
    right:8px;
    top:3px;
}
/*滚动条*/
.sol{
    box-shadow: 2px 2px 8px #888888;
}
.secondRow .list{
    width: 95%;
    background: white;
    box-shadow: 2px 2px 8px #888888;
    overflow: auto;
    width: -webkit-calc(100% + 17px);
    width: -moz-calc(100% + 17px);
    width: calc(100% + 17px);
    overflow-y: auto;
}
.secondRow .list::-webkit-scrollbar {
    display: none;
}

.secondRow .list ul {
    padding: 5px;
}
.secondRow .list ul>li{
    width: 100%;
    height: 35px;
    list-style: none;
    line-height: 35px;
    position: relative;
}
.secondRow .list ul>li>a{
    text-decoration: none;
    color: black;
    width: 60%;/*2017-12-26*/
    display: block
}
/*2017-12-26*/
.secondRow .list ul>li>a:hover{
    text-decoration: underline;
    color: #e38d13;
}
.secondRow .list ul>li>span{
    color: #888888;
    font-size: small;
    position: absolute;
    right: 15px;
    top:0;
}

.secondRow .lasta1 img{
    width: 100%;
}
.secondRow  .lastlist{
    width: 100%;
    text-align: center;
 }
.secondRow .cli{
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;

}
.secondRow .cli span{
    font-size: 25px;
    display: inline-block;
    /*border:1px solid black;*/
    width: 49%;
}
.secondRow .cli span:last-child{
    transform: rotate(180deg);
}

.img{
    /*height: 250px;*/
    overflow: hidden;
    /*border:1px solid black;*/
}
.img a{
    position: relative;
    /*border:1px solid red;*/
    display: block;
}
/*第三行横向滚动*/
.thirdRow{
    width: 100%;
}
.thirdRow>.a1{
    position: relative;
}
.thirdRow{
    margin-top: 8px;
    border:5px solid #E6E6E6;
    box-shadow: 0px 7px 5px #818181;
}
.thirdRow >div:first-child,.thirdRow >div:last-child{
    width:4.15%;
    float: left;
    margin-top:70px;
}
.thirdRow >div:last-child img,.thirdRow >div:first-child img{
    width:100%;
}
.thirdRow >div:last-child img{
    margin-left: 20px;
}
.thirdRow >div:first-child img{
   position:relative;
    right: 20px;
}

/*2017-12-28*/
.scroll_div {
    width:100%;
    margin:auto;
    overflow: hidden;
    white-space: nowrap;
    background:#ffffff;
}
.scroll_div img {
    width:100%;
    border:4px solid transparent;
}
.scroll_div ul{
    padding: 0;
    width: 100%;
    /*border:1px solid red;*/
}
.scroll_div li{
    padding: 0;
    list-style: none;
    /*margin-left: -5px;*/
    width:19.7%;
    /*border:1px solid black;*/
}
#scroll_begin, #scroll_end, #scroll_begin ul, #scroll_end ul, #scroll_begin ul li, #scroll_end ul li{
    display:inline-block;
}/*设置ul和li横排*/
#scroll_end{
    margin-left:0;
}
.thumbnail{
    width:100%;
    border: 1px solid transparent;
    margin-top: 10px;
    /*border:1px solid black;*/
}
.thumbnail p{
    text-align: center;
}
.thumbnail p a{
    text-decoration: none;
    color: black;
    line-height: 10px;
}
.caption{
    padding: 0;
}
.listRow{
   margin-top: 8px;
}
.listRow img{
    width:100%;
}
.listRow>.a1{
    position: relative;
}
.listRow>.a1>a:nth-child(2){
    color: white;
    position: absolute;
    left:5px;
    top:3px;
}
.listRow>.a1>a:nth-child(3){
    color:#CC0000;
    position: absolute;
    right:8px;
    top:3px;
}
/*小banner*/
.footer{
    margin-top: 20px;
}
.footer img{
    display: block;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 20px;
}
.footer .col-md-2,.footer .col-sm-2,.footer .col-xs-2{
    width: 20%;
}
/*悬停效果*/
a:hover:not(.nav a){
    text-decoration:underline !important;
    color:#e38d13 !important;
}
a{
    overflow: hidden !important;
    text-overflow:ellipsis !important;
    white-space: nowrap !important;
}



