.banner img{
    width: 100%;
}
.banner{
    width: 100%;
    margin: 0 auto;
}
.breadnav{
    width: 100%;
    height: 45px;
    background:#FFB500 ;
    line-height: 45px;
    color: #CC0000;
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}
.breadnav >span a{
    color: #CC0000;
    text-decoration: none;
}
.concent{
    padding: 0;
    margin-top: 5px;
}
.concent .left{
    width: 25%;
    float: left;
}
.concent .left{
    background: #FEE469;
    position: relative;
}
.concent .left>img{
    position: absolute;
    z-index: 1;
    left:0;
    bottom: 0;
    width: 100%;
}

.concent .left>ul{
    position: relative;
    z-index: 5;
    width: 170px;
    margin-top: 10px;
    margin-bottom:273px;
}
.concent .left>ul>li{
    list-style: none;
    width: 170px;
    height: 61px;
    background: url(../img/items.png) no-repeat;
    line-height: 46px;
}
.concent .left>ul>li a{
    display: block;
    width: 170px;
    height: 61px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 30px;

}
.concent .left>ul>li:hover{
    /* background: url(../img/itemsd.png) no-repeat; */
    cursor: pointer;
}
.concent .right{
    width: 72%;
    float: right;
}
.concent .right{
    background-color: white;
    box-shadow:5px 5px 8px #FEFDBD;
    padding:0px 100px ;

}
.concent .right h3{
    text-align: center;
    color: #CC0000;
    line-height: 35px;
}
.concent .right ul{
    color: #888888;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    /*border:1px solid black;*/
}
.concent .right ul li{
    line-height: 35px;
}
.concent .right ul li a{
    color: #888888;
    text-decoration: none;
    display: block;
    width: 100%;
}
.concent .right ul li a:hover{
    text-decoration: underline;
    color: #e38d13;
}
.fenye{
    float:right;
    width: 72%;
    padding-top:20px;
    height: 50px;
    text-align: center;
}
.fenye a{
    text-decoration: none;
    color: black;
}
.fenye a:hover{
    text-decoration: underline;
}
