<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shunan.committeewb.dao.ActivityMapper">
	
	<!-- 查询所有的专题标签-->
	<select id="queryAllActivity" resultType="activity">
		SELECT * FROM activity
	</select>
	
	<!-- 添加专题标签-->
	<insert id="insertActivity" parameterType="activity">
		INSERT INTO activity(name,url,sort)
		VALUES(#{name},#{url},#{sort})
	</insert>
	
	<!-- 修改专题标签 -->
	<update id="updateActivity" parameterType="activity">
		update activity
		set name=#{name},url=#{url},sort=#{sort}
		where id=#{id}
	</update>
	
	<!-- 根据id查询专题标签-->
	<select id="queryActivityByID" parameterType="int" resultType="activity">
		SELECT * FROM activity WHERE id=#{id}
	</select>
	
	<!-- 删除activity -->
	<delete id="deleteActivity">
		DELETE FROM activity 
		<where>
			<if test="idList!=null and idList.size()>0">
				<foreach collection="idList" open=" id IN (" close=")" item="id" separator=",">
					#{id}
				</foreach>
			</if>
		</where>
	</delete>
	
	<!-- 添加NewsActivity -->
	<insert id="insertNewsActivity" parameterType="newsActivity">
		INSERT INTO newsActivity(newsID,activityID) VALUES(#{newsID},#{activityID})
	</insert>
	
	<!-- 根据activityID删除newsActivity -->
	<delete id="deleteNewsActivityByActivityID">
		DELETE FROM newsactivity 
		<where>
			<if test="idList!=null and idList.size()>0">
				<foreach collection="idList" open=" activityID IN (" close=")" item="activityID" separator=",">
					#{activityID}
				</foreach>
			</if>
		</where>
	</delete>
	
	<!-- 根据NewsID删除newsActivity -->
	<delete id="deleteNewsActivityByNewsID">
		DELETE FROM newsactivity 
		<where>
			<if test="idList!=null and idList.size()>0">
				<foreach collection="idList" open=" newsID IN (" close=")" item="newsID" separator=",">
					#{newsID}
				</foreach>
			</if>
		</where>
	</delete>
	
	<!-- 根据newsID查询其拥有的activityID -->
	<select id="selectActivityIDByNewsID" parameterType="int" resultType="int">
		SELECT newsactivity.activityID 
		FROM newsactivity
		WHERE newsID=#{newsID}
	</select>
	
	<!-- 查询专题标签下的新闻 -->
	<select id="selectNewsByActivityID" resultType="news">
		SELECT news.*
		FROM news,newsactivity
		WHERE news.id=newsactivity.newsID
		     AND newsactivity.activityID=#{activityID} 
		LIMIT #{offset},#{limit}
	</select>
	
	<!-- 查询专题标签下的新闻条数 -->
	<select id="selectNewsByActivityIDTotal" parameterType="int" resultType="long">
		SELECT COUNT(1)
		FROM news,newsactivity
		WHERE news.id=newsactivity.newsID
		     AND newsactivity.activityID=#{activityID}
	</select>
	
	<!-- 查找新闻的特定标签 -->
	<select id="selectNewsSpecialActivity" resultType="int">
		SELECT COUNT(1)
		FROM newsactivity
		WHERE newsID=#{newsID} AND activityID=#{activityID}
	</select>
	
	<!-- 删除新闻的特定标签 -->
	<delete id="deleteNewsSpecialActivity">
		DELETE FROM newsactivity
		<where>
			<if test="newsIDList!=null and newsIDList.size()>0">
				<foreach collection="newsIDList" open=" and newsID IN (" close=")" item="newsID" separator=",">
					#{newsID}
				</foreach>
			</if>
			and activityID=#{activityID}
		</where>
	</delete>
	
	<!-- 门户网站 -->
	
	<!-- 查询升序排序的前10条专题标签-->
	<select id="queryLimitActivity" resultType="activity">
		SELECT * FROM activity ORDER BY sort ASC LIMIT 0,10 
	</select>
	
	<!-- 分页查询专题活动列表 -->
	<select id="portalNewsActivityList" resultType="portalNewsVO">
		<if test="activityID!=null and activityID!=-1">
			SELECT news.id newsID,news.title newsTitle,activity.id activityID,activity.name activityName
		</if>
		<if test="activityID!=null and activityID==-1">
			SELECT DISTINCT(news.id) newsID,news.title newsTitle
		</if>
		FROM news,activity,newsactivity
		<where>
			news.status=0 AND NOW()>news.showTime 
			AND news.id=newsactivity.newsID 
			AND activity.id=newsactivity.activityID
			AND news.status=0 
			<if test="activityID!=null and activityID!=-1">
				AND activity.id=#{activityID}
			</if>
		</where>
		 ORDER BY news.id ASC
		 LIMIT #{offset},#{limit}
	</select>
	
	<!-- 专题活动列表 总条数 -->
	<select id="portalNewsActivityListTotal" resultType="long">
		SELECT COUNT(DISTINCT(news.id)) count
		FROM news,activity,newsactivity
		<where>
			news.status=0 AND NOW()>news.showTime 
			AND news.id=newsactivity.newsID 
			AND activity.id=newsactivity.activityID 
			AND news.status=0 
			<if test="activityID!=null and activityID!=-1">
				AND activity.id=#{activityID}
			</if>
		</where>
	</select>
	
	<sql id="queryNewsActivity_detail">
		<if test="type=='first' or type=='next'">
			order by news.id asc
		</if>
		<if test="type=='previous' or type=='last'">
			order by news.id desc
		</if>
	</sql>
	
	<!-- 专题标签 新闻详情 -->
	<select id="queryNewsActivityDetail" resultType="int">
		SELECT news.id newsID 
		FROM news,activity,newsactivity
		<where>
			news.id=newsactivity.newsID 
			AND activity.id=newsactivity.activityID
			<if test="activityID!=null and activityID!=-1">
				AND activity.id=#{activityID}
			</if>
			<if test="type=='previous'">
				and news.id&lt; #{newsID}
			</if>
			<if test="type=='next'">
				and news.id&gt; #{newsID}
			</if>
			<if test="type=='eq'">
				and news.id=#{newsID}
			</if>
		</where>
		<include refid="queryNewsActivity_detail"/>
		limit 0,1
	</select>
</mapper>