<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shunan.committeewb.dao.NavMapper">

	<!-- 查询导航栏信息 -->
	<select id="queryAllNavs" resultType="com.shunan.committeewb.po.Nav">
		SELECT * FROM nav
	</select>
	
	<!-- 修改导航栏信息 -->
	<update id="updateNav" parameterType="nav">
		update nav
		set name=#{name},jumpLink=#{jumpLink}
		where id=#{id}
	</update>
	
	<!-- 插入导航栏 -->
	<insert id="insertNav" parameterType="nav">
		INSERT INTO nav(name,jumpLink)
		VALUES(#{name},#{jumpLink})
	</insert>
	
	<!-- 删除导航栏信息 -->
	<delete id="deleteNav" parameterType="int">
		DELETE FROM nav WHERE id=#{id}
	</delete>
</mapper>