<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shunan.committeewb.dao.RollImgMapper">
	
	<!-- 查询首页展示的轮播图的信息 -->
	<select id="queryHomeRollImg" resultType="com.shunan.committeewb.po.News">
		select news.*
		from news,rollimg
		where news.id=rollimg.newsID and rollimg.isShow=1
		order by sort asc
	</select>
	
	<!-- 删除轮播图 -->
	<delete id="deleteRollImg">
		DELETE FROM rollimg 
		<where>
			<if test="newsIDList!=null and newsIDList.size()>0">
				<foreach collection="newsIDList" open=" and newsID IN (" close=")" item="newsID" separator=",">
					#{newsID}
				</foreach>
			</if>
		</where>
	</delete>
</mapper>