<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shunan.committeewb.dao.RollImgMapper">
	
	<!-- 查询首页展示的轮播图的信息 -->
	<select id="queryHomeRollImg" resultType="com.shunan.committeewb.po.News">
		select news.*
		from news,rollimg
		where news.id=rollimg.newsID and rollimg.isShow=1
		order by sort asc
	</select>
	
	<!-- 删除轮播图 -->
	<delete id="deleteRollImg">
		DELETE FROM rollimg 
		<where>
			<if test="newsIDList!=null and newsIDList.size()>0">
				<foreach collection="newsIDList" open=" and newsID IN (" close=")" item="newsID" separator=",">
					#{newsID}
				</foreach>
			</if>
		</where>
	</delete>
	
	<!-- 添加轮播图 -->
	<insert id="insertRollImg" parameterType="rollImg">
		INSERT INTO rollimg(newsID) VALUES(#{newsID})
	</insert>
	
	<!-- 轮播图列表 -->
	<resultMap type="rollImgList" id="rollImgList">
		<id property="newsID" column="newsID"/>
		<result property="title" column="title"/>
		<result property="picUrl" column="picUrl"/>
		<result property="count" column="count"/>
		<result property="sort" column="sort"/>
		<result property="isShow" column="isShow"/>
	</resultMap>
	
	<!-- 查询所有的轮播图 -->
	<select id="queryAllRollImg" resultMap="rollImgList">
		SELECT rollimg.newsID,news.title,news.picUrl,news.count,rollimg.sort,rollimg.isShow
		FROM news,rollimg
		WHERE news.id=rollimg.newsID
	</select>
</mapper>