<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shunan.committeewb.dao.RollImgMapper">
	
	<!-- 查询首页展示的轮播图的信息 -->
	<select id="queryHomeRollImg" resultType="news">
		select news.*
		from news,rollimg
		where news.id=rollimg.newsID and rollimg.isShow=1
		order by sort asc 
		limit 0,5
	</select>
	
	<!-- 删除轮播图 -->
	<delete id="deleteRollImg">
		DELETE FROM rollimg 
		<where>
			<if test="newsIDList!=null and newsIDList.size()>0">
				<foreach collection="newsIDList" open=" and newsID IN (" close=")" item="newsID" separator=",">
					#{newsID}
				</foreach>
			</if>
		</where>
	</delete>
	
	<!-- 添加轮播图 -->
	<insert id="insertRollImg" parameterType="rollImg">
		INSERT INTO rollimg(newsID) VALUES(#{newsID})
	</insert>
	
	<sql id="rollImgList_sql">
		SELECT news.id,news.title,news.picUrl,news.count,rollimg.sort,rollimg.isShow
		FROM news,rollimg
	</sql>
	
	<!-- 轮播图列表 -->
	<resultMap type="rollImgList" id="rollImgList">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="picUrl" column="picUrl"/>
		<result property="count" column="count"/>
		<result property="sort" column="sort"/>
		<result property="isShow" column="isShow"/>
	</resultMap>
	
	<!-- 查询所有的轮播图 -->
	<select id="queryAllRollImg" resultMap="rollImgList">
		<include refid="rollImgList_sql"/>
		<where>
			news.id=rollimg.newsID
		</where>
	</select>
	
	<!-- 修改轮播图 -->
	<update id="updateRollImg" parameterType="rollImg">
		UPDATE rollimg 
		SET sort=#{sort},isShow=#{isShow}
		WHERE newsID=#{newsID}
	</update>
	
	<!-- 根据newsID查询轮播图 -->
	<select id="queryRollImgByNewsID" parameterType="int" resultType="rollImg">
		SELECT * FROM rollimg WHERE newsID=#{newsID}
	</select>
	
	<!-- 分页查询轮播图 -->
	<select id="queryPageRollImg" resultType="portalNewsVO">
		SELECT news.id newsID,news.title newsTitle,news.showTime showTime,news.showTime>DATE_SUB(now(),INTERVAL 3 DAY) as isLatestNews
		FROM news,rollimg
		WHERE news.id=rollimg.newsID AND isShow=1 and news.status=0
		order by news.showTime desc
		LIMIT #{offset},#{pageSize}
	</select>
	
	<!-- 查询轮播图一共有多少条 -->
	<select id="queryRollImgTotal" resultType="long">
		SELECT COUNT(1)
		FROM news,rollimg
		WHERE news.id=rollimg.newsID AND isShow=1 and news.status=0
	</select>
	
	<sql id="queryRollImg_detail">
		<if test="type=='first' or type=='next'">
			order by newsID asc
		</if>
		<if test="type=='previous' or type=='last'">
			order by newsID desc
		</if>
	</sql>
	
	<!-- 图片新闻详情-->
	<select id="queryRollImgDetail" resultType="rollimg">
		SELECT * FROM rollimg
		<where>
			isShow=1
			<if test="type=='previous'">
				and newsID&lt; #{id}
			</if>
			<if test="type=='next'">
				and newsID&gt; #{id}
			</if>
			<if test="type=='eq'">
				and newsID=#{id}
			</if>
		</where>
		<include refid="queryRollImg_detail"/>
		limit 0,1
	</select>
</mapper>